.l-green{
    background:#66ff33 !important;
}

.img-button {
    height: 2em;
}

.iconic{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
}

.userpic {
    max-height: 300px !important
}

.prodpic {
    max-height: 225px !important
}

input[type="number"] {
    -moz-appearance: textfield;
  }
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}